altgraph==0.17.2
autopep8==1.5.7
future==0.18.2
joblib==1.1.0
numpy==1.20.1
pefile==2021.9.3
pycodestyle==2.7.0
pyinstaller==5.0
pyinstaller-hooks-contrib==2022.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pywin32-ctypes==0.2.0
scapy==2.4.5
scikit-learn==1.0.2
scipy==1.8.0
threadpoolctl==3.1.0
torch==1.9.0
typing_extensions==4.2.0
